<section id="top" class="d-flex align-items-center justify-content-center py-3">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-xl-6">

        <!-- Logo e textos -->
        <div class="mb-5 mb-md-6">
          <div class="row justify-content-center   mb-3">
            <div class="col-6 col-md-5  d-flex justify-content-center">
              <img src="../../../../assets/Logo.svg" alt="Sávio Santos" class="logo w-100">
            </div>
          </div>
          <h1 class="text-center">Sávio Santos</h1>
          <div class="text-in-dark text-center">
            Web Designer e Desenvolvedor Front-end
          </div>
        </div>

        <!-- Botões -->
        <div class="row">
          <div class="col-12 col-md mb-5 mb-md-0 d-flex justify-content-center justify-content-md-end">
            <button type="button" class="w-100 btn btn-primary">
              Projetos
            </button>
          </div>
          <div class="col-12 col-md d-flex justify-content-center justify-content-md-start">
            <button type="button" class="w-100 btn btn-outline-primary">
              Contato
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
