/* !
 * Arquivo de utilidades que poderá ser importado em qualquer componente.
 * Variávies de cores e breakpoints declarada aqui também serão utilizadas para sobrescrever as variávies padrões do Bootstrap.
*/


// Breakpoints e max-width do container

$bp-xs: 0;
$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$mw-sm: 576px;
$mw-md: 720px;
$mw-lg: 960px;
$mw-xl: 1152px;


// Cores

$color-primary:       #209DB5;
$color-success:       #31A65B;
$color-danger:        #EB2710;
$color-dark:          #020C0E;

// Esssas são minhas
$color-in-dark:       #ABABAB;
$color-in-white:      #595959;


// Sombras - Arrumar isso aqui.

@mixin my-shadow($color, $shadow-lg) {
  @if $shadow-lg {
    filter: drop-shadow(0px 0px 4px $color) drop-shadow(0px 0px 8px rgba($color, 0.8));
  } @else {
    filter: drop-shadow(0px 0px 4px $color);
  }
}



$responsive-font-size: clamp(12px, 1.8vw, 16px);
$responsive-font-size-sm: clamp(10px, 1.6vw, 14px);
$responsive-font-size-lg: clamp(14px, 2.1vw, 20px);
