<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">

    <!-- Título do projeto e ano de publicação-->
    <header class="mb-5 mb-md-6">
      <h1>Orbit App</h1>
      <small>12 de Janeiro de 2020</small>
    </header>

    <!-- Descrição -->
    <div class="mb-5 mb-md-6">
      <h4>Descrição</h4>
      <p class="text-in-dark">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur dui sem, eget ullamcorper purus rhoncus ac.
        In hac habitasse platea dictumst. Curabitur venenatis vitae mi vitae euismod. Nulla in ante dictum, ultricies lacus et, sollicitudin ex.
        Fusce nisl leo, dignissim a scelerisque nec, commodo ac sem.
        Phasellus sit amet tempor metus, et auctor est. Praesent auctor nisl augue, sed tempus arcu dapibus at.
      </p>
    </div>

    <!-- Principais tecnologias utilizadas para contrução -->
    <div class="mb-5 mb-md-6">
      <h4>Tecnologias utilizadas</h4>
      <p class="text-in-dark">
        HTML5 / Sass / Angular
      </p>
    </div>

    <!-- Ações -->
    <div class="row">

      <!-- Acessar o case -->
      <div class="col-12 col-md-8 col-lg-6  mb-5 mb-lg-0">
        <h4>Web Site</h4>
        <p class="text-in-dark">
          O projeto já se encontra no ar, você pode acessa-lo clicando no botão abaixo
        </p>
        <a class="btn btn-primary btn-icon">
          <svg><use xlink:href="#i-global"/></svg><span>Acessar case</span>
        </a>
      </div>

      <!-- Código do projeto no GitHub -->
      <div class="col-12 col-md-8 col-lg-6">
        <h4>Open Source</h4>
        <p class="text-in-dark">
          Clique para visualizar o código fonte do projeto no GitHub.
        </p>
        <a class="btn btn-outline-primary btn-icon">
          <svg><use xlink:href="#i-github"/></svg><span>Ver código</span>
        </a>
      </div>

    </div>

  </div>

  <div class="col-12 my-5 my-md-6 division-horizontal"></div>

  <div class="col-12 col-md-10">
    <img src="../../../../assets/images/cases/OrbitApp.png" alt="Orbit App">
  </div>

</div>
