<div class="row justify-content-center"  *ngIf="case; else loading">
  <div class="col-12 col-md-10 col-lg-8">

    <!-- Título do projeto e ano de publicação-->
    <header class="mb-5 mb-md-6">
      <h4>{{ case.genre }}</h4>
      <h1>{{ case.title }}</h1>
    </header>

    <!-- Descrição -->
    <div class="mb-5 mb-md-6">
      <h4>Descrição</h4>
      <p class="text-in-dark">{{ case.description }}</p>
    </div>

    <!-- Principais tecnologias utilizadas para contrução -->
    <div class="mb-5 mb-md-6">
      <h4>Tecnologias utilizadas</h4>
      <div class="text-in-dark">
        <span class="pr-3" *ngFor="let technologie of case.technologies">{{ technologie }}</span>
      </div>
    </div>

    <!-- Ações -->
    <div class="row">

      <!-- Acessar o case -->
      <div class="col-12 col-md-8 col-lg-6  mb-5 mb-lg-0" *ngIf="case.website">
        <h4>Web Site</h4>
        <p class="text-in-dark">
          O projeto já se encontra no ar, você pode acessa-lo clicando no botão abaixo
        </p>
        <a class="btn btn-primary btn-icon" target='_blank' [href]="case.website">
          <svg><use xlink:href="#i-global"/></svg><span>Acessar case</span>
        </a>
      </div>

      <!-- Código do projeto no GitHub -->
      <div class="col-12 col-md-8 col-lg-6" *ngIf="case.open_source">
        <h4>Open Source</h4>
        <p class="text-in-dark">
          Clique para visualizar o código fonte do projeto no GitHub.
        </p>
        <a class="btn btn-outline-primary btn-icon" target='_blank' [href]="case.open_source">
          <svg><use xlink:href="#i-github"/></svg><span>Ver código</span>
        </a>
      </div>

    </div>

  </div>

  <div class="col-12 my-5 my-md-6 division-horizontal"></div>

  <!-- Imagem de principal de exibição -->
  <div class="col-12 col-md-10">
    <img [src]="case.banner" [alt]="case.title">
  </div>
  <!-- Caso haja outras imagens -->
  <div class="col-12 col-md-10  mt-5" *ngIf="case.images">
    <img *ngFor="let image of case.images" [src]="image.url" [alt]="case.title">
  </div>

</div>

<!-- Fazer o spinner de carregamento -->
<ng-template #loading>
  <h2>Carregando</h2>
</ng-template>
