<section id="home" class="min-vh-100 d-flex align-items-center   py-8">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <div class="content   mb-6 text-center">
          <strong>Sávio Santos</strong>
          <div class="division  my-5"></div>
          <p class="text-in-dark">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum consectetur dui sem, eget ullamcorper purus rhoncus ac consectetur adipiscing elit.
          </p>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row">
          <a [routerLink]="'/cases'" class="btn btn-white  mb-5 mb-sm-0 mr-sm-5">
            Visualizar projetos
          </a>
          <a [routerLink]="'/contato'" class="btn btn-outline-white">
            Entre me contato
          </a>
        </div>

      </div>
    </div>

  </div>
</section>


<!-- Cases recentes -->
<section id="recent-cases" class="d-flex align-items-center   py-8">
  <div class="container">

    <div class="mb-7 text-center">
      <h4>Cases</h4>
      <h2>Trabalhos recentes</h2>
    </div>

    <div class="row justify-content-center mb-7" *ngIf="cases; else loading">

      <!-- Encapsular em uma div para que figure não tenha padding -->
      <div class="col-12 col-lg-6 mb-6 mb-lg-0   mt-0"   *ngFor="let case of cases; index as i" [class.mt-lg-6]="i % 2 !== 0">
        <figure class="d-flex justify-content-center">
          <!-- Imagem de exibição -->
          <img [src]="case.banner" [alt]="case.title">
          <!-- Informações mostradas no hover -->
          <figcaption class="p-3 p-md-5 text-center">
            <h3>{{ case.title }}</h3>
            <div class="row justify-content-center">
              <!-- Botão para acessar o case -->
              <div class="col-auto my-2 my-md-3"   *ngIf="case.website">
                <a class="btn btn-primary btn-icon" target="_blank" [href]="case.website">
                  <svg><use xlink:href="#i-global"/></svg><span>Acessar case</span>
                </a>
              </div>
              <!-- Botão para ver mais detalhes do case -->
              <div class="col-auto my-2 my-md-3">
                <a class="btn btn-outline-primary  btn-icon" [routerLink]="['cases', case.name]">
                  <svg><use xlink:href="#i-details"/></svg><span>Ver detalhes</span>
                </a>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <ng-template #loading>
      <h2>Carregando...</h2>
    </ng-template>

    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" [routerLink]="'/cases'">
        <div class="btn-icon">
          <span>Ver tudo</span><svg class="mr-0 ml-2"><use xlink:href="#i-arrow"/></svg>
        </div>
      </a>
    </div>

  </div>
</section>
