<section id="contact">
  <div class="container">

    <div class="row justify-content-center align-items-center">

      <!-- FORMULÁRIO -->
      <div class="col-12 col-md-10 col-lg-6   mb-6 mb-lg-0">

        <div class="text-center text-lg-left mb-6">
          <h2>Entre em contato</h2>
          <p class="text-in-dark">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur dui sem, eget ullamcorper purus rhoncus ac.
          </p>
        </div>

        <form action="">

          <small class="text-primary d-block mb-5">* Campos opcionais!</small>

          <div class="form-group">
            <input class="form-control" type="text" name="nome" placeholder="Nome:" />
          </div>

          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="E-mail:" />
          </div>

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <input class="form-control" type="tel" name="phone" placeholder="Telefone/Celular: *" />
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <input class="form-control" type="text" name="assunto" placeholder="Assunto:" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="mensagem" rows="5" placeholder="Mensagem:"></textarea>
          </div>

          <button type="submit" class="btn btn-primary mw-100">Enviar mensagem</button>

        </form>
      </div>

      <!-- Informações para contato + Social -->
      <div class="contact-information   col-12 col-md-10 col-lg-6   d-flex flex-column align-items-center align-items-lg-end">

        <div class="d-flex flex-column">
          <!-- Infos para contato -->
          <div class="p-5 border border-primary   mb-5">
            <!-- Número do whatsapp -->
            <address>
              <svg>
                <use xlink:href="#whatsapp" />
              </svg>
              <strong class="ml-3">(77) 99147-6770</strong>
            </address>

            <svg class="bandage">
              <use xlink:href="#bandage" />
            </svg>

            <!-- Email profissional -->
            <address>
              <svg>
                <use xlink:href="#envelope" />
              </svg>
              <strong class="ml-3">saviosantosdev@gmail.com </strong>
            </address>
          </div>

          <!-- Redes sociais -->
          <div class="p-5 border border-primary">
            <!-- Github -->
            <a target="_blank" href="https://github.com/SavioSantosDev">
              <svg>
                <use xlink:href="#github" />
              </svg>
              <strong class="ml-3">/SavioSantosDev</strong>
            </a>

            <svg class="bandage">
                <use xlink:href="#bandage" />
            </svg>

            <!-- Linkedin -->
            <a target="_blank" href="https://www.linkedin.com/in/antonio-sávio">
              <svg>
                <use xlink:href="#linkedin" />
              </svg>
              <strong class="ml-3">/antonio-sávio</strong>
            </a>

            <svg class="bandage">
              <use xlink:href="#bandage" />
            </svg>

            <!-- Instagram -->
            <a target="_blank" href="https://www.instagram.com/savio_santos.dev/">
              <svg>
                <use xlink:href="#instagram" />
              </svg>
              <strong class="ml-3">/savio_santos.dev</strong>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
