@import "../../../../styles/utilities";

#contact {

  .contact-information {

    address, a {
      font-style: normal;
      display: flex;
      align-items: center;
      margin: 0;  // Remover do reboots.scss do Bootstrap
    }

    svg {
      width: 32px;
      height: 32px;
      fill: $primary;

      @media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
        width: 40px;
        height: 40px;
      }
    }
  }

}
