@import "./styles/bootstrap/bootstrap.scss";
@import "./styles/utilities";

::selection {
  color: $color-dark;;
  background: $white;
}

body { font-size: $responsive-font-size; }

h1 { font-weight: normal };

p { line-height: clamp(12px * 1.5, 1.8vw * 1.5, 16px * 1.5); }

small { display: block;}

svg { fill: currentColor; }

img { width: 100%; }


// Vai ser servir de subtitle
h4, .h4 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
}


.division-horizontal { height: 2px; background-color: rgba($color: white, $alpha: .2); }
.division-vertical { width: 2px; background-color: rgba($color: white, $alpha: .2); }


// Sobrescrevendo as propriedades de algumas classes do bootstrap
.btn {
  padding: 12px 24px;

  @media (min-width: $bp-md) { padding: 16px 28px; }
  @media (min-width: $bp-lg) { padding: 20px 32px; }
}
.btn-outline-primary { color: white; }


.btn-icon {
  svg {
    margin-right: .5rem;
    width: $responsive-font-size;
    height: $responsive-font-size;
  }
}

.icon-circle {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 0;
  background: transparent;

  svg {
    width: 60%;
    height: 60%;
  }

  &.i-white {
    background-color: white;
    color: $color-dark;

    &:hover { @include apply-shadow(white, 'lg'); }
  }

  &.i-primary {
    background-color: $color-primary;
    color: white;

    &:hover { @include apply-shadow($primary, 'lg'); }
  }
}
