<!-- Meu portfólio -->
<div *ngIf="cases; else loading">
  <div class="mt-5 mb-7 mb-md-8"   *ngFor="let case of cases">
    <div class="row align-items-center justify-content-center">

      <!-- Img -->
      <figure class="col-12 col-sm-10 col-lg-6  mb-5 mb-md-7 mb-lg-0  order-1 order-lg-2">
        <img src="{{ case.banner }}" alt="{{ case.title }}">
      </figure>

      <!-- Content -->
      <div class="col-12 col-lg-6   order-2 order-lg-1">
        <div class="mb-5 mb-md-6">
          <header class="mb-5 mb-lg-6 text-center text-md-left">
            <h4>{{ case.genre }}</h4>
            <h2>{{ case.title }}</h2>
          </header>
          <!-- Descrição -->
          <div class="d-none d-md-block">
            <div class="border border-white w-25 mb-3"></div>
            <p class="text-in-dark">{{case.description }}</p>
          </div>
        </div>
        <!-- Botões -->
        <div class="d-flex flex-column flex-sm-row  align-items-center justify-content-center justify-content-md-start">
          <!-- Acessar o case -->
          <a class="btn btn-primary btn-icon  mb-3 mb-sm-0 mr-sm-5" target="_blank" *ngIf="case.website" [href]="case.website">
            <svg><use xlink:href="#i-global"/></svg><span>Acessar case</span>
          </a>
          <!-- Ver detalhes -->
          <a class="btn btn-outline-primary  btn-icon" [routerLink]="[case.name]">
            <svg><use xlink:href="#i-details"/></svg><span>Ver detalhes</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <h1>Carregando...</h1>
</ng-template>
